@model UMS.Entities.UserDTO
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_MyUserLayout.cshtml";
}

<html>
<head>

    <style>
        body {
            background-color: white;
        }

        .div1 {
            background-color: white;
            padding: 10px;
            margin-left:400px;
            margin-top:80px;
            border: 50px black;
            border-radius: 5px;
            height: 480px;
            width: 500px;
            text-align: left;
        }
        .pos{
            border: none;
            color: white;
            padding: 15px 32px;
            background-color:rebeccapurple;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 280px;
            cursor: pointer;
            height:40px;
            width:80px;
        }
    </style>
    </head>
    <body>
        @{ 
           
            Session["image"] = null;
        }
        <h1 style="color:white;font-family:Verdana; background-color:black; text-align: center;">User Management System</h1>
        
        <div class="div1">
            
            <form action="~/User/Save" method="post" enctype="multipart/form-data">
                <table cellspacing="4" cellpadding="2">
                    @if (Model.ImageName != null)
                    {
                        <img src="~/UploadedFiles/@Model.ImageName" style="width:100px;height:100px; margin:7px 280px" />
                    }
                   @{
                       Session["image"] = Model.ImageName;
                    }
                   @{ 
                       Session["UserID"] = Model.UserID;
                   }
                    <tr>
                        <td> Name:</td>
                        <td><input id="name" name="Name" type="text" value="@Model.Name" required></td>
                    </tr>
                    <tr>
                        <td>Login:</td>
                        <td><input id="login" type="text" name="login" value="@Model.login" required></td>
                    </tr>
                    <tr>
                        <td> Password:</td>
                        <td><input id="password" type="password" name="password" value="@Model.password" required></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input id="email" type="email" name="Email" value="@Model.Email" required></td>
                    </tr>
                    <tr>
                        <td> Gender:</td>
                        @{
                            var female = "";
                            var male = "";
                            if (Model.gender ==  'F')
                            {
                                female = "selected";
                            }
                            else if (Model.gender == 'M')
                            {
                                male = "selected";
                            }
                        }
                        <td><select name="gender" required>
                        <option value="">--Select--</option>
                        <option value='male' @male>Male</option>
                        <option value='female' @female>Female</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td> Address:</td>
                        <td><input type="text" name="address" value="@Model.address" style="width:175px; height:40px;" required /></td>
                    </tr>
                    <tr>
                        <td> Upload:</td>
                        <td><input type="file"  id="image" name="image" value="~/uploadedFiles/@Model.ImageName"  /></td>
                    </tr>
                    <tr>
                        <td>  Age:</td>
                        <td><input type="number" name="age" value="@Model.age"></td>
                    </tr>
                    <tr>
                        <td>NIC:</td>
                        <td><input id="nic" type="text" name="NIC" value="@Model.NIC" required></td>
                    </tr>
                    <tr>
                        <td> DOB:</td>
                        <td><input type="date" name="DOB" value="@Model.DOB.ToString("yyy-MM-dd")" /></td>
                    </tr>
                    <tr>
                        <td> Sports:</td>
                         @{
                        var h = "";
                        var cr = "";
                        var ch ="";
                        if (Model.Chess == true) {
                            ch = "checked";
                        }
                        if (Model.isCricket == true) {
                            cr = "checked";
                        }
                        if (Model.Hockey == true) {
                            h = "checked";
                        }

                    }
                        <td><input type="checkbox" @cr name="isCricket" value="Cricket"> Cricket
                            <input type="checkbox" @h name="Hockey" value="Hockey"> Hockey
                           <input type="checkbox" @ch name="Chess" value="Chess">Chess</td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="btn1" value="Save"></td>
                        <td><input type="submit" id="btn2" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Button", "User") + "'")" ; /></td> 
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
