
@{
    ViewBag.Title = "MainScreen";
    Layout = "~/Views/Shared/_MyUserLayout.cshtml";
}

<style>
    .button {
            background-color: rebeccapurple;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 200px;
            height: 50px;
        }
        .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-gap: 10px;
        background-color: white;
        padding: 1px;
        align-self:center;
    }

         div {
            background-color: white;
            padding: 10px;
            margin: 50px 200px;
            border: 50px black;
            border-radius: 5px;
            height: 400px;
            width: 400px;
            text-align: center;
        }
        .grid-container > div {
            background-color: darkgray;
            padding: 0px 0;
            margin-left:60px;           
            margin-top:30px;     
        }

    .item1 {
        grid-row: 1/4;
    }

</style>
@{ 
    Session["UserID"] = null;
    Session["isAdmin"] = null;
    Session["res"] = null;
}
    <div class="grid-container">
        <div class="item1" align="center">
            <h1>Main Screen</h1>
            <input type="submit" class="button" value="New User" id="newUser" onclick="@("window.location.href='" + @Url.Action("New", "User") + "'");"><br><br>
            <input type="submit" class="button" value="Existing User" id="existingUser" onclick="@("window.location.href='" + @Url.Action("Exist", "Existing") + "'");"><br><br>
            <input type="submit" class="button" value="Admin" id="admin" onclick="@("window.location.href='" + @Url.Action("login", "Admin") + "'");"><br><br>
            <input type="submit" class="button" value="Exit" id="exit" onclick="@("window.location.href='" + @Url.Action("", "") + "'");">

        </div>
        </div>